$color-primary: #3db13d;
$color-secondary: #ccc;

$tip-arrow: 4px;
$tip-offset: 5px;
$tip-radius: 4px;
$tip-padding: 2px 13px;
$tip-font: 16px;

$bar-size: 8px;

$handle-border: 6px;
$handle-size: 22px;

.rangeable-container {
	cursor: pointer;
	width: 100%;

	&.rangeable-disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}

	&.focus {
		.rangeable-handle {
			border: 1px solid #74b9ff;
		}
	}

	/* track */
	.rangeable-track {
		width: 100%;
		height: $bar-size;
		background-color: $color-secondary;
		position: relative;
		border-radius: $bar-size / 2;
	}

	/* progress bar */
	.rangeable-progress {
		height: $bar-size;
		width: 100%;
		background-color: $color-primary;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: $bar-size / 2;
		transform-origin: 0 0 0;

		& > .rangeable-tooltip {
			display: none;
			z-index: 11;
			top: auto;
			bottom: calc(100% + #{($handle-size - $bar-size) / 2} + #{$tip-offset + $tip-arrow});
			white-space: nowrap;
		}
	}

	/* handle */
	.rangeable-handle {
		box-sizing: border-box;
		width: $handle-size;
		height: $handle-size;
		border: $handle-border solid $color-primary;
		border-radius: 50%;
		background-color: #fff;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate3d(50%, -50%, 0);

		// opacity: 0.4;

		&:focus{
			outline: none;
			&::after {
				position: absolute;
				width: $handle-size;
				height: $handle-size;
				bottom: -$handle-border;
				right: -$handle-border;
				outline: 1px dotted #000;
				content: "";
			}
		}

		&.active {
			z-index: 10;
		}

		.rangeable-tooltip {
			display: none;
		}
	}

	/* tooltip */
	.rangeable-tooltip {
		position: absolute;
		right: 50%;
		bottom: calc(100% + #{$handle-border} + #{$tip-arrow} + #{$tip-offset});
		transform: translate3d(50%,0,0);

		text-align: center;

		padding: $tip-padding;
		background-color: $color-primary;
		border-radius: $tip-radius;
		font-weight: bold;
		font-size: $tip-font;
		color: #fff;
		font-family: "Inconsolata", Consolas, Courier New, Lucida Console, sans-serif;

		/* tooltip arrow */
		&::before {
			width: 0;
			height: 0;
			border-width: $tip-arrow $tip-arrow 0 $tip-arrow;
			border-style: solid;
			border-color: $color-primary transparent transparent transparent;
			position: absolute;
			left: 50%;
			top: 100%;
			transform: translate3d(-50%,0,0);
			content: "";
		}
	}

	.rangeable-buffers {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
	}

	.rangeable-buffer {
		position: absolute;
		background-color: rgba(0,0,0,0.2);
		border-radius: 4px;
		height: 100%;
	}

	&.rangeable-multiple {

		&.combined-tooltip {
			.rangeable-handle {
				.rangeable-tooltip {
					opacity: 0;
				}
			}
		}

		.rangeable-handle {
			&:nth-child(1) {
				left: 0;
				transform: translate3d(-50%, -50%, 0);
			}

			&:nth-child(2) {
				right: 0;
			}
		}
	}

	&.rangeable-vertical {
		height: 100%;
		width: auto;

		.rangeable-track {
			width: $bar-size;
			height: 100%;
		}

		/* progress bar */
		.rangeable-progress {
			width: $bar-size;
			height: 100%;
			top: auto;
			bottom: 0;
			transform-origin: 0 100% 0;
		}

		/* handle */
		.rangeable-handle {
			right: auto;
			left: 50%;
			top: 0;
			transform: translate3d(-50%,-50%,0);
		}

		.rangeable-tooltip {
			position: absolute;

			top: 50%;
			left: calc(100% + #{$handle-border} + #{$tip-arrow} + #{$tip-offset});
			right: auto;
			bottom: auto;
			transform: translate3d(0,-50%,0);

			&::before {
				right: 100%;
				left: auto;
				top: 50%;
				transform: translate3d(0,-50%,0);

				border-width: $tip-arrow $tip-arrow $tip-arrow 0;
				border-color: transparent $color-primary transparent transparent;
			}
		}

		.rangeable-buffer {
			width: 100%;
			height: 0%;
		}

		&.combined-tooltip {

			.rangeable-progress > .rangeable-tooltip::before {
				display:block;
			}

			.rangeable-handle .rangeable-tooltip {
				opacity: 0;
			}
		}

		&.rangeable-multiple {
			.rangeable-handle {
				&:nth-child(1) {
					top: 0;
					left: 50%;
				}

				&:nth-child(2) {
					bottom: 0;
					top: auto;
					transform: translate3d(-50%, 50%, 0);
				}
			}
		}
	}

	&.combined-tooltip {
		&.dragging, &.rangeable-tooltips--visible {
			.rangeable-progress > .rangeable-tooltip {
				display:block;
			}
		}
	}

	&.dragging, &.rangeable-tooltips--visible {
		&.rangeable-tooltips {
			.rangeable-handle {
				.rangeable-tooltip {
					display: block;
				}
			}
		}
	}
}

.rangeable-input {
	position: absolute;
	overflow: hidden;
	clip: rect(0px, 0px, 0px, 0px);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0 none;

	&:focus {
		& + .rangeable-track {
			.rangeable-handle {
				&::after {
					position: absolute;
					width: $handle-size;
					height: $handle-size;
					bottom: -$handle-border;
					right: -$handle-border;
					outline: 1px dotted #000;
					content: "";
				}
			}
		}
	}
}